body {
	background-color: #424242;
	font-family: Trebuchet, sans-serif;
	color: black;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	margin-top: -10px;
}

.sidebar {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	position: fixed;
	min-height: 100vh;
}

@font-face {
    font-family: Sullivan-Fill;
    src: url(fonts/Sullivan-Fill.otf);
}

.header {
	display: flex;
	flex-flow: column nowrap;
	background-color: #FF9900;
	color: #51B4D4;
	width: 250px;
	padding: 0px 10px 30px 10px;
	text-decoration: none;
	margin-top: -10px;
	margin-left: -10px;
	text-align: center;
}

.header__name {
	font-family: "Sullivan-Fill";
	text-decoration: none;
	color: #E9E9E9;
	font-size: 8em;
}

.header__name:hover {
	text-decoration: none;
	color: #E9E9E9;
}

.header__name:visited {
	text-decoration: none;
	color: #E9E9E9;
}

.navbar {
	display: flex;
	flex-flow: column nowrap;
	text-decoration: none;
	background-color: #E9E9E9 ;
	padding:10px;
	width: 250px;
	color: #424242;
	margin-left: -10px;
	min-height: 100vh;
}

.navbar a {
	text-decoration: none;
}

.navbar a:hover {
	color: #3299BB;
}

.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    width: 60px;
}

.navbar li a {
    display: block;
    width: 260px;
    padding: 5px 0 5px 0;
    color: #3299BB;
}

.navbar li a:hover {
    background-color: #ff9900;
    color: white;
    margin-left: -10px;
    padding-left: 10px;
}

#currentpage a{
	color: #ff9900;
}

#currentpage a:hover{
	color:#FFF;
}

.social {
	display: flex;
	font-size: 1em;
	justify-content: space-around;
	align-items: center;
	align-self: center;
	padding: 0px 10 10 30px;
}

.content{
	background-color: #424242 ;
	color: #E9E9E9;
	margin-left: 290px;
}





